<div class="well" style="margin: 5px">
    <h1>Add Issue</h1>
    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Title</span>
        <input type="text" ng-model="issue.Title" placeholder="Title" class="form-control" style="width: 200px;">
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Description</span>
        <input type="text" ng-model="issue.Description" placeholder="Description" class="form-control" style="width: 200px;">
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Project</span>
        <input type="text" ng-model="issue.Project" placeholder="Description" disabled class="form-control" style="width: 200px;">
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Assignee</span>
        <select style="width: 200px;" class="form-control" ng-model="issue.AssigneeId">
            <option ng-repeat="user in users" value="{{user.Id}}">{{user.Username}}
            </option>
        </select>
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Priority</span>
        <select class="form-control" style="width: 200px; " ng-model="issue.PriorityId" >
            <option  ng-repeat="priority in issue.Priorities" value="{{priority.Id}}">{{priority.Name}}
            </option>
        </select>
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">DueDate</span>
        <input type="text" ng-model="issue.DueDate" placeholder="yyyy/mm/dd" class="form-control" style="width: 200px;">
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Labels</span>
        <input type="text" ng-model="issue.Labels" placeholder="Divided by coma and space" class="form-control" style="width: 200px;">
    </div>

    <a href="" class="btn btn-success" style="margin: 10px" ng-click="addIssue(issue)">Add</a>
</div>