<div class=well>
    <h1>Hello {{username}}</h1>

    <h3>Change password</h3>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Old</span>
        <input type="password" ng-model="password.OldPassword" placeholder="Old password" class="form-control" style="width: 200px;">
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">New</span>
        <input type="password" ng-model="password.NewPassword" placeholder="New password" class="form-control" style="width: 200px;">
    </div>

    <div class="input-group" style="margin: 10px;">
        <span class="input-group-addon" style="width: 100px; ">Confirm</span>
        <input type="password" ng-model="password.ConfirmPassword" placeholder="Confirm password" class="form-control" style="width: 200px;">
    </div>

    <a href="" ng-click="changePassword()" class="btn btn-primary" style="margin: 10px;">Change password</a>
</div>